
accelerate==1.10.0
clip-anytorch==2.6.0
diffusers==0.34.0
matplotlib==3.10.5
matplotlib-inline==0.1.7
pandas==2.3.1
peft==0.17.0
pillow==11.3.0
safetensors==0.6.2
torch==2.8.0+cu126
torch-fidelity==0.3.0
torchmetrics==1.8.1
torchvision==0.23.0+cu126
tqdm==4.67.1
transformers==4.55.0


